.font {
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
}

.header {
  font-family: "Roboto", sans-serif !important;
}

.text {
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  padding-bottom: 20px;
}
.blogfont {
  font-family: "Roboto", sans-serif !important;
}
